@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-poppins: var(--font-poppins);
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.9152 0.203 119.49);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.03 0.01 270);
  --muted-foreground: oklch(56.189% 0.01808 266.205);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --radius: 0.625rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-heading: var(--font-poppins);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

.light {
  --background: oklch(1 0 0);
  --foreground: oklch(0.181 0.01 270);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.181 0.01 270);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.181 0.01 270);
  --primary: oklch(0.9152 0.203 119.49);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.62 0.36 334);
  --secondary-foreground: oklch(0.95 0.07 327);
  --muted: oklch(0.922 0 0);
  --muted-foreground: oklch(0.205 0 0);
  --accent: oklch(0.7 0.4 173);
  --accent-foreground: oklch(0.22 0.19 180);
  --destructive: oklch(0.62 0.36 334);
  --border: oklch(0.93 0.01 270);
  --input: oklch(0.93 0.01 270);
  --ring: oklch(0.7 0.4 173);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
  html {
    @apply font-sans;
  }

  /* TEXT */
  .hero-heading {
    @apply text-5xl font-extrabold lg:text-7xl font-heading;
  }
  .heading-1 {
    @apply text-4xl font-bold lg:text-6xl font-heading;
  }
  .heading-2 {
    @apply text-3xl font-medium lg:text-5xl font-heading;
  }
  .heading-3 {
    @apply text-xl font-semibold lg:text-3xl font-heading;
  }
  .heading-4 {
    @apply text-lg lg:text-2xl font-heading;
  }
  .heading-5 {
    @apply text-base font-semibold lg:text-xl font-heading;
  }
  .card-title {
    @apply text-xl font-semibold lg:text-2xl font-heading;
  }
  /* ====== */
}
/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE و Edge القديم */
body {
  -ms-overflow-style: none;
}
